# Dependencies and package caches
node_modules/
.npm-cache/

# Wrangler files
.wrangler/
.wrangler-config/
.wrangler-dry-run/
.wrangler-preview-dry-run/

# Local secrets
.dev.vars*
!.dev.vars.example
.env*
!.env.example
